<h1>Editing category spend</h1>

<%= render "form", category_spend: @category_spend %>

<br>

<div>
  <%= link_to "Show this category spend", @category_spend %> |
  <%= link_to "Back to category spends", category_spends_path %>
</div>
