.start-screen {
  height: 100%;
  margin: 0;
  background-color: #fff;
  align-items: center;
  padding: 1rem 0;
}

.app-name {
  height: 75%;
}

.app-name h1 {
  align-self: center;
  font-size: 2.5rem;
}

.start-buttons {
  width: 80%;
  height: 25%;
  align-items: center;
  justify-content: center;
  padding-bottom: 1rem;
  font-size: 1.5rem;
  gap: 1rem;
}

.start-buttons a {
  text-align: center;
  width: 100%;
  height: 3rem;
  justify-content: center;
  align-items: center;
  font-family: 'Proxima Nova Light', sans-serif;
}

.login {
  background-color: #3778c2;
  color: #fff;
  border-radius: 5px;
}

.signup {
  color: #434b54;
}
